{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1 align="center">Liste des Matieres</h1><br>

    <table class="table">
        <thead>
            <tr>

                <th>numero Etudiant</th>
                <th>identifiant matiere</th>
                <th>nom matiere</th>
                <th>NoteObtenue</th>
                <th>Obligation de suivie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>

                <td>{{ matiere.numeroEtudiant }}</td>
                <td>{{ matiere.idMatiere }}</td>
                <td>{{ matiere.nomMatiere.getLibelle }}</td>
                <td>{{ matiere.noteObtenue }}</td>

                <td>{{ matiere.matiereObligatoire.getObligatoire }}</td>

                <td>
                    <a href="{{ path('matiere_show', {'id': matiere.id}) }}">Lire la suite</a>
                    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Liste vide </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
