{% extends 'base.html.twig' %}

{% block title %} Liste Module {% endblock %}

{% block body %}
    <h1> Liste Module </h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdModule</th>
                <th>Libelle</th>
                <th>Obligatoire</th>
                <th>Coefficient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.idModule }}</td>
                <td>{{ module.libelle }}</td>
                <td>{{ module.obligatoire }}</td>
                <td>{{ module.coefficient }}</td>
                <td>
                    <a href="{{ path('module_show', {'id': module.id}) }}">Lire la suite</a>
                    <a href="{{ path('module_edit', {'id': module.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Liste vide </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
