{% extends 'base.html.twig' %}

{% block title %}Module index{% endblock %}

{% block body %}
    <h1>Module index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>IdModule</th>
                <th>Libelle</th>
                <th>Obligatoire</th>
                <th>NoteObtenue</th>
                <th>Coefficient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>

                <td>{{ module.idModule }}</td>
                <td>{{ module.libelle }}</td>
                <td>{{ module.obligatoire }}</td>
                <td>{{ module.noteObtenue }}</td>
                <td>{{ module.coefficient }}</td>
                <td>
                    <a href="{{ path('module_show', {'id': module.id}) }}">show</a>
                    <a href="{{ path('module_edit', {'id': module.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('module_new') }}">Create new</a>
{% endblock %}
