<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mes Cours{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark  bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FICHE PEDAGOGIQUE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if is_granted("ROLE_USER") %}
                <div class="dropdown">
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inscription
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('inscription_new') }}">Remplir fiche Inscriprion</a>
                        <a class="dropdown-item " href="{{ path('inscription_index') }}">Liste des Etudiant inscrits</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Matieres
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('matiere_index') }}">Liste des Matieres</a>
                        <a class="dropdown-item " href="{{ path('matiere_new') }}">Choisir Matires</a>
                    </div>
                </div>
                <div class="dropdown">
                    {% if is_granted('ROLE_EDITOR') %}
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Module
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('module_index') }}">Liste des Modules</a>
                        <a class="dropdown-item " href="{{ path('module_new') }}">Ajouter Module</a>
                    </div>
                    {% endif %}
                </div>
                <div class="dropdown">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Semestre
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('semestre_index') }}">Liste des Semestres</a>
                        <a class="dropdown-item " href="{{ path('semestre_new') }}">Nouveau Semestre</a>
                    </div>
                    {% endif %}
                </div>
                <div class="dropdown">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parcours
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('parcours_index') }}">Les Parcours </a>
                        <a class="dropdown-item " href="{{ path('parcours_new') }}">Creer un Nouveau  parcours</a>
                    </div>
                    {% endif %}
                </div>
                <div class="dropdown">

                    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Validation Inscription
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item " href="{{ path('validation_index') }}">Statuts Inscriptions </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item " href="{{ path('validation_new') }}">Nouveau Statut</a>
                        {% endif %}
                    </div>

                </div>

                <div class="navbar-nav" >

                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{path('admin/utilisateurs')  }}">Admin</a>
                    {% endif %}

                </div>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <a href="{{ path('app_logout') }}" class="mdc-button">
                        <span class="mdc-top-app-bar__action-item mdc-button__label">Se Déconnecter </span>
                    </a>
                </section>
            {% else %}
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <a href="{{ path('app_login') }}" class="mdc-button">
                        <span class="mdc-top-app-bar__action-item mdc-button__label">Se Connecter </span>
                    </a>
                    <a href="{{ path('app_register') }}" class="mdc-button">
                        <span class="mdc-top-app-bar__action-item mdc-button__label">Créer un Compte </span>
                    </a>
                </section>
            {% endif %}
        </div>


    </div>

</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>